.content{
	background: white;
	position: relative;
	z-index: 1;

	&__section{
		padding-bottom: 8rem;
		display: none;

		&.active{
			display: block;
		}
	}

	&__header{
		height: 100vh;
		width: 100%;

		.section-wrap{
			height: 100%;
			position: relative;
			align-items: flex-end;

			.back{
				position: absolute;
				right: 2rem;
				top: 51vh;
				font-weight: 900;
				cursor: pointer;
			}

			h1{
				height: 50vh;
				font-weight: 900;
				color: #000;
				font-size: 120px;
				line-height: 1;
				display: flex;
				align-items: center;

				@media(max-width: 1024px){
					font-size: 100px;
				}

				@media(max-width: 768px){
					font-size: 90px;
				}
			}
		}
	}
}